<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="suitelevelParam" value="parameter from suite Level"></parameter>
	<test thread-count="5" name="Test">
		<parameter name="testlevelParam" value="parameter from test Level"></parameter>
		<classes>
			<class name="TrialPackage.Folder_2">
				<methods>
					<exclude name="classB"></exclude>
				</methods>
			</class>
			<class name="TrialPackage.Folder_1" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->